<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>Posts</h1>
        <% posts.forEach(post=>{ %>
        <div class="post">
            <h2><%= post.title %></h2>
            <% if(post.body) {%>
            <p><%= post.body %></p>
            <% } %>
            <p><b>Author:</b> <%= authorized ? post.author.identifier : "Not authorized" %></p>
            <p><b>Created:</b> <%= authorized ? post.createdAt_formatted : "Not authorized" %></p>
            <p><b>Last Updated:</b> <%= authorized ? post.updatedAt_formatted : "Not authorized" %></p>
            <a href="<%= post.url %>">View Post</a>
        </div>
        <% }) %>
    </body>
</html>
