<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1><%= post.title %></h1>
        <hr />
        <div>
            <% if(post.body) {%>
            <p><%= post.body %></p>
            <% } %>
            <p><b>Author:</b> <%= authorized ? post.author.identifier : "Not authorized" %></p>
            <p><b>Created:</b> <%= authorized ? post.createdAt : "Not authorized" %></p>
            <p><b>Last Updated:</b> <%= authorized ? post.updatedAt : "Not authorized" %></p>
        </div>
        <% if(canModify) {%>
        <a href="<%= post.url %>/edit">Edit Post</a>
        <form action="<%= post.url %>?_method=DELETE" method="POST">
            <button class="delete-post" type="submit">Delete Post</button>
        </form>
        <% } %>
    </body>
</html>
